body {
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 2.3rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  gap: 0.5rem;
}

.links a {
  text-decoration: none;
  font-size: 2rem;
}

.loader {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.grid-fluida {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
  position: relative;
}

.grid-fluida .pokemon {
  background-color: #48e;
  padding: 0.5rem;
  border-radius: 10px;
}
