* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}
.title {
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  margin: 1.5rem;
  animation: scale 0.5s ease infinite alternate;
}
.links {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 0.5rem;

  a {
    text-decoration: none;
    font-size: 2rem;
    background-color: #e95c4d;
    padding: 0.5rem;
    color: #fff;
    border-radius: 10px;
  }
}
.loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.buttonUP {
  border: none;
  position: fixed;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(120, 116, 116, 0.15);
  z-index: 1;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s opacity;
  i {
    color: #fff;
    font-size: 2.8rem;
  }
}
.buttonUP.hidden {
  opacity: 1;
  pointer-events: visible;
}
.container {
  width: 1024px;
  max-width: 95%;
  margin: 0 auto;
}
// NAV
.nav {
  background-color: #e95c4d;
  .container {
    width: 1024px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .github {
      color: #fff;
      font-size: 3rem;
      transition: 0.2s opacity;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  margin-bottom: 2rem;
}
// FORM
.form * {
  display: block;
  margin-bottom: 0.8rem;
}
.form {
  padding: 0 1rem;
  label {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .searchPokemon {
    border: none;
    outline: none;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    box-shadow: 0 0px 28px rgba(120, 116, 116, 0.1);
    &::placeholder {
      font-size: 0.9rem;
    }
  }
  .form__buttons {
    display: flex;
    gap: 1rem;
    .btn__submit {
      display: inline-block;
      border: none;
      outline: none;
      background-color: #48e;
      color: #fff;
      padding: 10px 20px;
      padding-bottom: 0;
      border-radius: 10px;
      font-size: 1.1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .btn__reset {
      display: inline-block;
      border: none;
      outline: none;
      background-color: #b667cf;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 1.1rem;
      cursor: pointer;
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
}

.grid-fluida {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  margin-bottom: 2rem;
  .pokemon {
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    color: #fff;
    gap: 0.5rem;
    position: relative;
    animation: fade 1.5s ease;
    box-shadow: 0 5px 10px rgba(120, 116, 116, 0.411);
    .pokemon__body {
      flex: 1 1 50%;
      position: relative;
      .pokemon__name {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        position: relative;
      }
    }
    .body__types {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 5;
      .type__1,
      .type__2 {
        margin-bottom: 0.5rem;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        padding: 0.4rem;
        border-radius: 10px;
        place-self: flex-start;
        font-size: 1.05rem;
        text-transform: capitalize;
      }
    }
    img {
      flex: 1 1 50%;
    }
  }
  .pokeball {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 100px;
    height: 100px;
    opacity: 0.1;
    object-fit: cover;
  }
  .noFound {
    text-align: center;
    color: #e95c4d;
  }
}

.classic {
  background-color: #ccc;
}
.bug {
  background-color: #aedf78;
}
.water {
  background-color: #43ccff;
}
.grass {
  background-color: #00ca91;
}
.fire {
  background-color: #e95c4d;
}
.normal {
  background-color: #a5a5a5;
}
.electric {
  background-color: #e2e269;
}
.ground {
  background-color: #aedf78;
}
.poison {
  background-color: #b667cf;
}
.fairy {
  background-color: #ffc5b4;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
