* {
  // margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.title {
  text-align: center;
  font-size: 2.3rem;
}
.grid-fluida {
  .loader {
    display: block;
    margin: 0 auto;
  }
}
